OFF_WHITE = #fcf6e7
MAIN_AQUA = #31bcab
LIGHTER_RED = #d84429
DARKER_RED = #ba331a

p, li
  line-height 1.5em

.btn
  border none
  outline none
  font-weight 800
  border-radius 5px
  width 100%

#navigation
  background-color DARKER_RED
  min-height 80px
  line-height 80px

  h1
    color OFF_WHITE
    font-size 19px
    margin 0px
    min-width 250px

  .links
    a
      color OFF_WHITE
      padding 5px 12px
      font-size 14px

      &.active
        background-color: #ffa137
        padding 6px 12px
        border-radius 5px

  #changeLang
    color DARKER_RED
    font-weight 800
    font-size 20px
    outline none
    background-color OFF_WHITE
    border none
    border-radius 5px
    padding 0 20px
    height 40px

#banner
  color OFF_WHITE
  background-color LIGHTER_RED
  padding-top 30px

  img
    box-shadow 0px 0px 0px 10px #fcf6e7
    border-radius 50%

  h1
    margin 50px 0 10px 0
    line-height 55px
    font-size 50px

  p
    font-size 18px

  button
    @extends .btn
    height 60px
    background-color OFF_WHITE
    color LIGHTER_RED
    font-size 22px
    margin-bottom 30px

#main_content
  min-height 500px
  background-color OFF_WHITE
  padding 60px 0

  a
    color MAIN_AQUA

  .btn_menu
    a
      display block
      font-weight 800
      border-radius 5px
      width 100%
      background-color OFF_WHITE
      border 3px solid MAIN_AQUA
      color MAIN_AQUA
      height 60px
      padding 10px
      margin-bottom 10px
      font-size 18px
      line-height 38px

      &.active
        color OFF_WHITE
        background-color MAIN_AQUA

      &.active:after
        content ""
        position absolute
        right 28px
        margin-top 10px
        width 0
        height 0
        border-top 8px solid transparent
        border-bottom 8px solid transparent
        border-left 10px solid OFF_WHITE

  .menu_content
    h1
      font-size 40px
      margin-top 0px
      color MAIN_AQUA

    h2
      color #917070

      a
        color #917070
        &:hover
          color MAIN_AQUA

  #schedule
    .row
      margin-bottom 1em

  #about
    li
      list-style-type disc
  .scientists
    img
      border-radius 50%
      width 250px
    h2
      color DARKER_RED
      a
        color #917070
        font-size 18px
    h3
      color MAIN_AQUA
      font-size 30px
      margin-bottom 15px

#sponsors
  color #2d1f53
  background-color OFF_WHITE
  padding-top 60px
  line-height 70px
  min-height 220px
  text-align center

  img
    // margin-bottom 10px
    margin auto auto

  span
    font-size 14px
    font-weight 600

#footer
  background-color MAIN_AQUA
  padding 70px 0

  h1
    font-size 14px
    color OFF_WHITE
    margin 0 0 5px 0
  a
    span
      font-size 14px
      display block
      color #73e3d0
      margin-bottom 5px

  img
    &#adler_logo
      margin-bottom 20px

  button
    @extends .btn
    background-color OFF_WHITE
    color MAIN_AQUA
    height 60px
    line-height 1em
    font-size 20px
    margin-bottom 25px

#contact
  color OFF_WHITE
  background-color #248d7c
  p
    line-height 25px
    font-size 12px
    text-align center
