OFF_WHITE = #fcf5e2

@media $media-max-phone
  #bannerImage
    width 250px

  #changeLang
    margin-left 10px

  *       // Does this look good?
    text-align center

@media $media-max-tablet
  #footer
    button
      margin-top 20px
  #navigation
    h1
      padding-left 10px
