OFF_WHITE = #fcf5e2

@media $media-max-phone
  #bannerImage
    width 250px

  #changeLang
    margin-left 10px

  .links
    a
      display block
      width 100%
      height 60px
      line-height 50px

      &.active
        background-color: #ffa137
        padding 6px 10px
        border-radius 5px

  *       // Does this look good?
    text-align center

@media $media-max-tablet
  #footer
    button
      margin-top 20px
  #navigation
    h1
      padding-left 10px
