{{translate 'h1' 'scientists.overview.header'}}

<h2>{{translate 'span' 'scientists.overview.talkBy'}}</h2>
<p><br>{{!-- Time, Location for talk --}}</p>

<h2>
  {{translate 'span' 'scientists.overview.workshops'}}<br>
  {{#linkTo 'scientists.luis_nasser'}}Luis Nasser{{/linkTo}},
  {{#linkTo 'scientists.juan_carlos_campuzano'}}<span>Juan Carlos Campuzano</span>{{/linkTo}}, &amp;
  {{#linkTo 'scientists.ursala_perez_salas'}}Úrsula Pérez-Salas{{/linkTo}}
</h2>
<p><br>{{!-- Time, Location for talk --}}</p>

<h2>{{translate 'span' 'scientists.overview.skype'}}</h2>
<p><br>{{!-- Time, Location for talk --}}</p>
