{{translate 'h1' 'scientists.overview.header'}}

<h2>{{translate 'span' 'scientists.overview.talkBy'}}</h2>
<p><br>{{!-- Time, Location for talk --}}</p>

<h2>
  {{translate 'span' 'scientists.overview.workshops'}}<br>
</h2>
<p><br>{{!-- Time, Location for talk --}}</p>

<h2>{{translate 'span' 'scientists.overview.skype'}}</h2>
<p><br>{{!-- Time, Location for talk --}}</p>
