{{translate 'h1' 'scientists.overview.header'}}

<h2>Public Talk By {{#linkTo 'scientists.julieta_fierro'}}Julieta Fierro{{/linkTo}}</h2>
<p>Time, location.</p>

<h2>Hands-on demos and workshops led by <br> {{#linkTo 'scientists.luis_nasser'}}Luis Nasser{{/linkTo}} & {{#linkTo 'scientists.ursala_perez_salas'}}Úrsula Pérez-Salas{{/linkTo}}</h2>
<p>Time, location.</p>

<h2>Skype sessions with X and Y.</h2>
  <p>Time, location.</p>
