{{translate 'h1' 'resources.citizenScience.title'}}
<h2>
  <a href="https://www.zooniverse.org/">
    {{translate 'span' 'resources.citizenScience.zooniverse.title'}}
  </a>
</h2>
{{translate 'p' 'resources.citizenScience.zooniverse.content'}}
