<h1>Summer Camps</h1>
<h2>
  <a href="http://www.adlerplanetarium.org/camps/">
    {{translate 'span' 'resources.summerCamps.header'}}
  </a>
</h2>

{{translate 'span' 'resources.summerCamps.content'}}
