<div id="about">
  {{translate 'h1' 'event.about.header'}}
  {{translate 'span' 'event.about.content'}}
  <a href="http://adlerplanetarium.smugmug.com/Events/Mi-Galaxia-es-Su-Galaxia-2014">{{translate 'h1' 'event.about.photos'}}</a>
</div>
