<div id="press">

  {{translate 'h1' 'event.press.title'}}

  <h3><a href="http://www.las.uic.edu/news/2014/03/05/las-physics-faculty-to-present-at-adler-planetarium-mi-galaxia-es-su-galaxia-event
  ">University of Illinois at Chicago, “LAS Physics Faculty to Present at Adler Planetarium Mi Galaxia es Su Galaxia Event”</a></h3>

  <h3><a href="http://news.uic.edu/uic-scientists-share-expertise-at-planetarium
  ">University of Illinois at Chicago, “‘Mi Galaxia es Su Galaxia’, UIC Physicists Say”</a></h3>

  <h3><a href="https://astro.uchicago.edu/events/event_2014.php#id159">University of Chicago, “Mi Galaxia es Su Galaxia - My Galaxy is Your Galaxy”</a></h3>

  <h3><a href="http://www.vivelohoy.com/noticias/8392038/el-planetario-la-galaxia-y-los-latinos
  ">Vivelo Hoy, “El planetario, la Galaxia y los Latinos”</a></h3>

  <h3><a href="https://blogs.anl.gov/hispaniclatinoclub/2014/03/04/adler-planetarium-hosts-spanish-language-day-march-8-2014/">Argonne National Lab, “Adler Planetarium Hosts Spanish Language Day, March 8, 2014”
  </a></h3>

  <h3><a href="http://www.chicagotribune.com/chi-15-things-to-do-with-your-kids-this-week-2-069,0,2108801.photo">Chicago Tribune, “Saturday, March 8: Mi Galaxia es su Galaxia”</a></h3>

  <h3><a href="http://scienceinsociety.northwestern.edu/events/mi-galaxia-es-su-galaxia">Northwestern University Science in Society, “Mi Galaxia es Su Galaxia”</a></h3>

  <h3><a href="http://bit.ly/1cUdwrP">University of Valencia, “El Planetario Adler de Chicago emitirá los vídeos de Astronomía producidos en el Observatorio de la UV”</a></h3>

</div>
