<div class="row">
  <div class="col-md-3 btn_menu">
    {{#linkTo 'resources.adler_activities'}}<span>Adler Activities</span>{{/linkTo}}
    {{#linkTo 'resources.nasa'}}<span>Nasa en Español</span>{{/linkTo}}
    {{#linkTo 'resources.summer_camps'}}<span>Citizen Science</span>{{/linkTo}}
    {{#linkTo 'resources.citizen_science'}}<span>Citizen Science</span>{{/linkTo}}
  </div>

  <div class="col-md-8 col-md-offset-1 menu_content">
    {{outlet}}
  </div>
</div>
