<div class="row">
  <div class="col-md-3 btn_menu">
    {{#linkTo 'resources.the_adler'}}{{translate 'span' 'resources.theAdler.title'}}{{/linkTo}}
    {{#linkTo 'resources.nasa'}}{{translate 'span' 'resources.nasa.title'}}{{/linkTo}}
    {{#linkTo 'resources.citizen_science'}}{{translate 'span' 'resources.citizenScience.title'}}{{/linkTo}}
  </div>

  <div class="col-md-8 col-md-offset-1 menu_content">
    {{outlet}}
  </div>
</div>
