<div class="row">
  <div class="col-md-4 btn_menu">
    {{#linkTo 'scientists.index'}}<span>Overview</span>{{/linkTo}}
    {{#linkTo 'scientists.julieta_fierro'}}<span>Julieta Fierro</span>{{/linkTo}}
    {{#linkTo 'scientists.juan_carlos_campuzano'}}<span>Juan Carlos Campuzano</span>{{/linkTo}}
    {{#linkTo 'scientists.cecilia_gerber'}}<span>Cecilia Gerber</span>{{/linkTo}}
    {{#linkTo 'scientists.luis_nasser'}}<span>Luis Nasser</span>{{/linkTo}}
    {{#linkTo 'scientists.ursala_perez_salas'}}<span>Úrsula Pérez Salas</span>{{/linkTo}}
    {{#linkTo 'scientists.julieta_aguilera'}}<span>Julieta Aguilera</span>{{/linkTo}}
    {{#linkTo 'scientists.isabel_carrera'}}<span>Isabel Carrera Zamanillo</span>{{/linkTo}}
    {{#linkTo 'scientists.laura_trouille'}}<span>Laura Trouille</span>{{/linkTo}}
    {{#linkTo 'scientists.jose_francisco_salgado'}}<span>Jose Francisco Salgado</span>{{/linkTo}}
    {{#linkTo 'scientists.mark_subbarao'}}<span>Mark Subbarao</span>{{/linkTo}}
  </div>

  <div class="col-md-8 menu_content">
    {{outlet}}
  </div>
</div>
