<div class="row">
  <div class="col-md-4 btn_menu">
    {{#linkTo 'scientists.index'}}{{translate 'span' 'scientists.overview.title'}}{{/linkTo}}
    {{#linkTo 'scientists.julieta_fierro'}}<span>Julieta Fierro</span>{{/linkTo}}
    {{#linkTo 'scientists.luis_nasser'}}<span>Luis Nasser</span>{{/linkTo}}
    {{#linkTo 'scientists.ursala_perez_salas'}}<span>Úrsula Pérez-Salas</span>{{/linkTo}}
    {{#linkTo 'scientists.jose_francisco_salgado'}}<span>Jose Francisco Salgado</span>{{/linkTo}}
  </div>

  <div class="col-md-8 menu_content scientists">
    {{outlet}}
  </div>
</div>
